.mat-icon{
  position: relative;
  padding: 0 20px;
  top: 5px;
}

.position {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


mat-card {
  display: block;
  margin: 0 auto;
}

.centrePosition{ text-align: center; }

